.b-main-search__wrapper {
  margin-top: 36px;
  position: relative;
  @media (max-width: 992px) {
    padding: 0;
  }
  .b-main-search__search-block {
    @media (max-width: 992px) {
      display: none;
    }
    .b-main-search__first-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .b-main-search__left-block {
        display: flex;
        align-items: center;
        .b-main-search__old-new-filter {
          display: flex;
          align-items: center;
          margin-right: 20px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          color: #262541;
          img {
            margin-right: 6px;
          }
        }
        .b-main-search__dropdown-wrapper-game {
          margin-right: 4px;
          width: 140px;
        }
        .b-main-search__dropdown-wrapper-tournament {
          width: 160px;
        }
      }
      .b-main-search__right-block {
        display: flex;
        align-items: center;
        .b-main-search__search-input-desktop {
          width: 220px;
          height: 32px;
          margin-right: 8px;
          @media (max-width: 1200px) {
            display: none;
          }
        }
        .b-main-search__search-input-tablet {
          display: none;
          @media (min-width: 992px) and (max-width: 1200px) {
            display: flex;
          }
          width: 32px;
          height: 32px;
          background: #FFFFFF;
          border: 1px solid #DFDEED;
          border-radius: 6px;
          margin-right: 8px;
          cursor: pointer;
          img {
            margin: auto;
          }
        }
        .b-main-search__set-filter {
          cursor: pointer;
        }
      }
    }
    .b-main-search__second-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .b-main-search__left-side {
        display: flex;
        align-items: center;
        .b-main-search__dropdown-wrapper-gender {
          margin-right: 4px;
          width: 132px;
        }
        .b-main-search__dropdown-wrapper-cities {
          margin-right: 4px;
          width: 180px;
        }
        .b-main-search__calendar {
          margin-right: 4px;
          border: 1px solid #dfdeed;
          border-radius: 6px;
          background: #ffffff;
          display: flex;
          align-items: center;
          padding: 0 13px;
          input {
            height: 32px;
            width: 130px;
            padding: 4px 12px;
            background: #ffffff;
            border-radius: 6px;
            outline: none;
          }
          .input-left {
            border-radius: 6px 0 0 6px;
            border: transparent;
          }
          .input-right {
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-radius: 0 6px 6px 0;
          }
          img {
            display: inline;
          }
          &:deep .vc-popover-content-wrapper {
            .vc-popover-content {
              .vc-pane {
                .vc-header {
                  width: 160px;
                  padding: 17px 16px 0;
                  .vc-title {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    color: #808181;
                  }
                }
                .vc-weeks {
                  .vc-weekday {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    color: #0a3435;
                  }
                  .vc-day {
                    span {
                      font-family: 'Inter';
                      font-style: normal;
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 16px;
                      text-align: center;
                      color: #0a3435;
                      &:hover {
                        background-color: transparent;
                      }
                    }
                    .vc-highlights {
                      & + span {
                        color: #148783 !important;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400 !important;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                      }
                      .vc-day-layer {
                        .vc-highlight {
                          background: #e9fcfb !important;
                          border-radius: 6px !important;
                        }
                        .vc-highlight.vc-highlight-base-start {
                          background: #e9fcfb !important;
                        }
                        .vc-highlight.vc-highlight-base-middle {
                          background: #e9fcfb !important;
                        }
                        .vc-highlight.vc-highlight-base-end {
                          background: #e9fcfb !important;
                        }
                      }
                    }
                  }
                }
              }
              .vc-arrows-container {
                width: 160px;
                .is-left {
                  width: 12px;
                }
                .is-right {
                  width: 12px;
                }
              }
            }
          }
        }
      }
      .b-main-search__right-side {
        .b-main-search__free-pay-games {
          display: flex;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          text-align: center;
          padding: 4px;
          width: 186px;
          height: 32px;
          border: 1px solid #F0F0F4;
          border-radius: 6px;
          position: relative;
          .b-main-search__grey-block {
            position: absolute;
            top: 4px;
            background: #EFEFF6;
            border-radius: 4px;
            height: 23px;
            width: 88px;
            z-index: -1;
            &.right {
              transition: all 0.6s ease;
              right: 4px;      
            }
            &.left {
              transition: all 0.6s ease;
              left: 4px;
            }
          }
          .b-main-search__all, .b-main-search__free {
            flex-basis: 50%;
            user-select: none;
            cursor: pointer;
          }
        }
      }
    }
  }
  .b-main-search__search-block-mob {
    @media (min-width: 992px) {
      display: none;
    }
    .b-main-search__filters-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .b-main-search__icon {
        display: flex;
        width: 36px;
        min-width: 36px;
        height: 36px;
        background: #FAFAFA;
        border-radius: 6px;
        img {
          margin: auto;
        }
      }
      .b-main-search__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        color: #262541;
      }
      .b-main-search__terms {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #575775;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .b-main-search__sort-item {
        display: flex;
        width: 132px;
        min-width: 132px;
        @media (min-width: 768px) {
          width: 196px;
          min-width: 196px;
        }
        &:last-child {
          width: auto;
          min-width: auto;
        }
        .b-main-search__icon {
          margin-right: 4px;
        }
      }
      .b-main-search__calendar-block {
        .b-main-search__icon {
          width: 32px;
          min-width: 32px;
          height: 32px;
          @media (min-width: 768px) {
            width: 36px;
            min-width: 36px;
            height: 36px;
            background: #EFEFF6;
          }
        }
        .b-main-search__text {
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }
    .b-main-search__dates-block {
      .b-main-search__months {
        .b-main-search__wrapper {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-top: 8px;
          .b-main-search__arrow {
            display: flex;
            width: 24px;
            height: 24px;
            background: #FAFAFA;
            border-radius: 6px;
            img {
              margin: auto;
            }
          }
          .b-main-search__main-part {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #262541;
            margin: 0 16px;
          }
        }
      }
      .b-main-search__dates-wrapper {
        position: relative;
        height: 60px;
        overflow: hidden;
        .b-main-search__dates {
          position: absolute;
          top: 0;
          left: 0;
          margin-top: 8px;
          display: flex;
          align-items: flex-start;
          .b-main-search__week {
            display: flex;
            align-items: flex-start;
            position: relative;
            margin: 0 12px;
            &:after {
              content: '';
              display: block;
              width: 1px;
              height: 12px;
              background: #000;
              position: absolute;
              right: -12px;
              top: 50%;
              margin-top: -6px;
            }
            .b-main-search__date-item {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 36px;
              min-width: 3px;
              height: 51px;
              border-radius: 4px 4px 0px 0px;
              margin-right: 6px;
              &:last-child {
                margin: 0;
              }
              &.b-main-search__active {
                background: #FFDAEA;
                border-bottom: 2px solid #C3305C;
                .b-main-search__day {
                  color: #C3305C;
                }
                .b-main-search__number {
                  font-weight: 500;
                  color: #C3305C;
                }
              }
              .b-main-search__day {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                color: #575775;
              }
              .b-main-search__number {
                margin-top: 2px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
                text-align: center;
                color: #262541;
              }
            }
          }
        }
      }
    }
  }
}