.b-main-search__soring-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #262541;
}
.b-main-search__wrapper {
  margin-top: 36px;
  position: relative;
  @media (max-width: 992px) {
    padding: 0;
  }
  .b-main-search__soring-button {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    min-width: 50px;
    img {
      display: block;
      width: 15px;
      height: 15px;
      margin-right: 6px;
    }
  }
  .b-main-search__search-block {
    @media (max-width: 992px) {
      display: none;
    }
    .b-main-search__first-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .b-main-search__left-block {
        display: flex;
        align-items: center;
        .b-main-search__old-new-filter {
          display: flex;
          align-items: center;
          margin-right: 20px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          color: #262541;
          img {
            margin-right: 6px;
          }
        }
        .b-main-search__dropdown-wrapper-tournament {
          margin-right: 4px;
          width: 160px;
        }
        .b-main-search__dropdown-wrapper-gender {
          margin-right: 4px;
          width: 132px;
        }
      }
      .b-main-search__right-block {
        display: flex;
        align-items: flex-start;
        .b-main-search__search-input-desktop {
          width: 220px;
          height: 32px;
          margin-right: 8px;
        }
        .b-main-search__set-filter {
          cursor: pointer;
        }
      }
    }
    .b-main-search__second-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      .b-main-search__left-side {
        display: flex;
        align-items: center;
        .b-main-search__dropdown-wrapper-cities {
          margin-right: 4px;
          width: 180px;
        }
        .b-main-search__calendar {
          margin-right: 4px;
          border: 1px solid #dfdeed;
          border-radius: 6px;
          background: #ffffff;
          display: flex;
          align-items: center;
          padding: 0 13px;
          input {
            height: 32px;
            width: 90px;
            padding: 4px 12px;
            background: #ffffff;
            border-radius: 6px;
            outline: none;
          }
          .input-left {
            border-radius: 6px 0 0 6px;
            border: transparent;
          }
          .input-right {
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-radius: 0 6px 6px 0;
          }
          img {
            display: inline;
          }
          &:deep .vc-popover-content-wrapper {
            .vc-popover-content {
              .vc-pane {
                .vc-header {
                  width: 160px;
                  padding: 17px 16px 0;
                  .vc-title {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    color: #808181;
                  }
                }
                .vc-weeks {
                  .vc-weekday {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    color: #0a3435;
                  }
                  .vc-day {
                    span {
                      font-family: 'Inter';
                      font-style: normal;
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 16px;
                      text-align: center;
                      color: #0a3435;
                      &:hover {
                        background-color: transparent;
                      }
                    }
                    .vc-highlights {
                      & + span {
                        color: #148783 !important;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400 !important;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                      }
                      .vc-day-layer {
                        .vc-highlight {
                          background: #e9fcfb !important;
                          border-radius: 6px !important;
                        }
                        .vc-highlight.vc-highlight-base-start {
                          background: #e9fcfb !important;
                        }
                        .vc-highlight.vc-highlight-base-middle {
                          background: #e9fcfb !important;
                        }
                        .vc-highlight.vc-highlight-base-end {
                          background: #e9fcfb !important;
                        }
                      }
                    }
                  }
                }
              }
              .vc-arrows-container {
                width: 160px;
                .is-left {
                  width: 12px;
                }
                .is-right {
                  width: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  .b-main-search__search-block-mob {
    display: none;
    @media (max-width: 992px) {
      display: block;
    }
    .b-main-search__filters-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .b-main-search__sorting-block .b-main-search__icon {
        display: flex;
        width: 36px;
        min-width: 36px;
        height: 36px;
        background: #fafafa;
        border-radius: 6px;
        img {
          margin: auto;
        }
      }
      .b-main-search__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        color: #262541;
      }
      .b-main-search__terms {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #575775;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .b-main-search__filtering-block {
        .b-main-search__icon {
          width: 32px;
          height: 32px;
          background: #fafafa;
          border-radius: 6px;
        }
        .b-main-search__text-block {
          margin-left: 4px;
          display: none;
          @media (max-width: 992px) {
            display: block;
          }
          .b-main-search__title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            color: #262541;
          }
        }
      }
    }
  }
}

.b-main-search__search-input {

  @media(max-width: 992px) {
    display: none; 
  }
}