@mixin font($color, $size, $weight) {
  font-style: normal;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin inter($size, $weight, $color: $--b-main-black-color) {
  font-family: 'Inter';
  @include font($color, $size, $weight);
}

@mixin exo($size, $weight, $color: $--b-main-black-color) {
  font-family: 'Exo 2';
  @include font($color, $size, $weight);
}
