@import "./../../node_modules/vue-toastification/dist/index.css";

.Vue-Toastification__toast {
    background: #262541;
    width: 320px;
    padding: 16px;
}

.Vue-Toastification__toast--success {
    background: #F4FDE8;
    border: 1px solid #71BA12;
    color: #262541;
}
.Vue-Toastification__toast--error {
    background: #FFEEEE;
    border: 1px solid #F43E3E;
    color: #262541;
}
.Vue-Toastification__toast--warning {
    background: #FFF4EC;
    border: 1px solid #F6803C;
    color: #262541;
}
.Vue-Toastification__toast--info {
    background: #F7F7FE;
    border: 1px solid #BFBEDA;
    color: #262541;
}


.Vue-Toastification__close-button {
    color: #575775;
}

.notification-success {
    background: radial-gradient(240.34% 150.94% at 34.38% 36.36%, rgba(10, 230, 244, 0.3) 0%, rgba(10, 224, 185, 0) 100%), #262541;
}

.notification-error {
    background: radial-gradient(240.34% 150.94% at 34.38% 36.36%, rgba(224, 10, 48, 0.3) 0%, rgba(224, 10, 48, 0) 100%), #262541;;
}

:root {
    --vs-controls-color: #664cc3;
    --vs-border-color: #664cc3;

    --vs-dropdown-bg: #282c34;
    --vs-dropdown-color: #cc99cd;
    --vs-dropdown-option-color: #cc99cd;

    --vs-selected-bg: #664cc3;
    --vs-selected-color: #eeeeee;

    --vs-search-input-color: #eeeeee;

    --vs-dropdown-option--active-bg: #664cc3;
    --vs-dropdown-option--active-color: #eeeeee;
}

.vs__dropdown-option--selected {
    background: var(--vs-dropdown-option--deselect-bg);
    color: var(--vs-dropdown-option--deselect-color)
}

.opacity-bar,
.grad-bar,
.hue-bar{
    position: relative;
}