@import './calendar.scss';

.b-main-search__soring-title {
  @include inter(13px, 500);
  line-height: 20px;
}
.b-main-search__wrapper {
  margin-top: 36px;
  position: relative;
  @media (max-width: 992px) {
    padding: 0;
  }
  .b-main-search__soring-button {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    min-width: 50px;
    img {
      display: block;
      width: 15px;
      height: 15px;
      margin-right: 6px;
    }
  }
  .b-main-search__search-block {
    @media (max-width: 992px) {
      display: none;
    }
    .b-main-search__first-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .b-main-search__left-block {
        display: flex;
        align-items: center;
        .b-main-search__old-new-filter {
          @include inter(13px, 500);
          line-height: 20px;

          display: flex;
          align-items: center;
          margin-right: 20px;
          img {
            margin-right: 6px;
          }
        }
        .b-main-search__dropdown-wrapper-tournament {
          margin-right: 4px;
          width: 160px;
        }
        .b-main-search__dropdown-wrapper-gender {
          margin-right: 4px;
          width: 132px;
        }
      }
      .b-main-search__right-block {
        display: flex;
        align-items: flex-start;
        .b-main-search__search-input-desktop {
          width: 220px;
          height: 32px;
          margin-right: 8px;
        }
        .b-main-search__set-filter {
          cursor: pointer;
        }
      }
    }
    .b-main-search__second-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      .b-main-search__left-side {
        display: flex;
        align-items: center;
        .b-main-search__dropdown-wrapper-cities {
          margin-right: 4px;
          width: 180px;
        }
        .b-main-search__calendar {
          margin-right: 4px;
          border: 1px solid #dfdeed;
          border-radius: 6px;
          background: #ffffff;
          display: flex;
          align-items: center;
          padding: 0px 13px;
          input {
            height: 32px;
            width: 90px;
            padding: 4px 12px;
            background: #ffffff;
            border-radius: 6px;
            outline: none;
          }
          .input-left {
            border-radius: 6px 0 0 6px;
            border: transparent;
          }
          .input-right {
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-radius: 0 6px 6px 0;
          }
          img {
            display: inline;
          }
          &:deep .vc-popover-content-wrapper {
            .vc-popover-content {
              .vc-arrows-container {
                width: 160px;
                .is-left {
                  width: 12px;
                }
                .is-right {
                  width: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  .b-main-search__search-block-mob {
    display: none;
    @media (max-width: 992px) {
      display: block;
    }
    .b-main-search__filters-block {
      display: flex;
      align-items: center;

      @media (max-width: 768px) {
        justify-content: space-between;
      }

      .b-main-search__sorting-block .b-main-search__icon {
        display: flex;
        width: 36px;
        min-width: 36px;
        height: 36px;
        background: #fafafa;
        border-radius: 6px;
        img {
          margin: auto;
        }
      }
      .b-main-search__title {
        @include inter(13px, 500);
        line-height: 20px;
      }
      .b-main-search__terms {
        @include inter(12px, 400, $--b-main-gray-color);
        line-height: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .b-main-search__filtering-block {
        .b-main-search__icon {
          width: 32px;
          height: 32px;
          background: #fafafa;
          border-radius: 6px;
          margin-left: 8px;
          img {
            position: relative;
          }
        }
        .b-main-search-icon-status {
          @include mobile {
            background: #1ccd62;
            border: 1.5px solid #ffffff;
            border-radius: 6px;
            width: 8px;
            height: 8px;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
        .b-main-search__text-block {
          margin-left: 4px;
          display: none;
          @media (max-width: 992px) {
            display: block;
            width: max-content;
          }
          @include mobile {
            display: none;
          }
          .b-main-search__title {
            @include inter(13px, 500);
            line-height: 20px;
          }
        }
      }
    }
  }
}

.b-main-search__search-input {
  @media (max-width: 992px) {
    display: none;
  }
}
.b-main-search__search-icon-mobile {
  background: #fafafa;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  display: none;

  @include tabletAndMobile {
    display: flex;
  }
}

.b-main-search__search-input-tablet {
  margin: 16px;

  @include tabletAndMobile {
    display: none;
  }
}

.b-found-count {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #575775;
}

:deep(.b-modal-position__address-text) {
  @media (max-width: 1200px) {
    max-width: 190px;
  }
}

.b-users-filters__age-filter-wrap {
  width: 300px;
  margin-right: 20px;
}
